body {
  background-color:#beed9f;
  font-family:century gothic;
}
h1 {
  background-color:#476e2d;
  font-family:century gothic;
}
form {
  background-color:#beed9f;
  font-family:century gothic;
  border:2px solid DodgerBlue;
}
